[Unit]
Description=RGB Candlestick Backend Server
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/rgb_candlestick/backend
Environment="PATH=/opt/rgb_candlestick/backend/.venv/bin"
ExecStart=/opt/rgb_candlestick/backend/.venv/bin/python3 main.py --log-level INFO
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
